{% extends "base.html" %}

{% block content %}
  <h1>Add a Pet</h1>

  <form action="{{ url_for('add_pet') }}" method="POST">
    <div class="form-group">
      <label for="pet_name">Pet Name</label>
      <input type="text" class="form-control" id="pet_name" name="pet_name" required>
    </div>
    <div class="form-group">
      <label for="pet_species">Species</label>
      <input type="text" class="form-control" id="pet_species" name="pet_species" required>
    </div>
    <div class="form-group">
      <label for="pet_breed">Breed</label>
      <input type="text" class="form-control" id="pet_breed" name="pet_breed">
    </div>
    <div class="form-group">
      <label for="birthdate">Approximate Birthdate</label>
      <input type="date" class="form-control" id="birthdate" name="birthdate">
    </div>
    <div class="form-group">
      <label for="photo_url">Photo URL</label>
      <input type="url" class="form-control" id="photo_url" name="photo_url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
